sudo: required
language: python
services:
  - docker

before_install:
  - sudo apt-get -qq update

install:
  - pip install "molecule==1.25.0"
  - pip install -U "ansible==2.3.2.0"
  - pip install docker

script:
  - molecule test --driver docker
